# 1장 + 서울시 구별 CCTV 현황 분석

In [11]:
import pandas as pd

In [12]:
CCTV_Seoul = pd.read_csv("data/01. CCTV_in_Seoul.csv", encoding = "euc_kr") # utf-8이 안되면 euc_kr로 대체

In [13]:
CCTV_Seoul.head() # 파일의 위에서부터 10줄만 보여줌 (default = 10), 값을 넣으면 그 수만큼 출력

     기관명    소계  2015년 이전  2016년  2017년  2018년
0  강 남 구  5221      3431    765    577    448
1  강 동 구  1879      1027    194    273    385
2  강 북 구  1265       691    254      1    319
3  강 서 구  1617       909    190    264    254
4  관 악 구  3985      2001    619    694    671

In [14]:
CCTV_Seoul

        기관명    소계  2015년 이전  2016년  2017년  2018년
0     강 남 구  5221      3431    765    577    448
1     강 동 구  1879      1027    194    273    385
2     강 북 구  1265       691    254      1    319
3     강 서 구  1617       909    190    264    254
4     관 악 구  3985      2001    619    694    671
5     광 진 구  1581       746     21    468    346
6     구 로 구  3227      1875    326    540    486
7     금 천 구  1634       769    136    199    530
8     노 원 구  1906      1342    298    110    156
9     도 봉 구   858       515    155    117     71
10     동대문구  2003      1437    233    136    197
11    동 작 구  1780       993    254    278    255
12    마 포 구  1935      1009    359    372    195
13     서대문구  2121      1235    277    415    194
14    서 초 구  2835      1840    352    247    396
15    성 동 구  2679      1251    201    933    294
16    성 북 구  3003      1687    388    285    643
17    송 파 구  1586       974    100    116    396
18    양 천 구  2775      1459    349    137    830
19     영등포구  2495      1042    289    371    793
20    용 산 구  2063      1841     89     60     73
21    은 평 구  2962      2070    296    229    367
22    종 로 구  1471       941    148    281    101
23  중     구  1544       629    270    317    328
24    중 랑 구  1068       872    121     66      9

In [15]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2015년 이전', '2016년', '2017년', '2018년'], dtype='object')

In [16]:
CCTV_Seoul.columns[0]

'기관명'

In [17]:
# 실제 데이터의 이름을 변경할 때 : rename()
# inplace = True(변경된 데이터를 저장), inplace = False(데이터를 갱신하지 않겠다)

CCTV_Seoul.rename(columns = {CCTV_Seoul.columns[0]:'구별'}, inplace = True)

In [18]:
CCTV_Seoul.head()

      구별    소계  2015년 이전  2016년  2017년  2018년
0  강 남 구  5221      3431    765    577    448
1  강 동 구  1879      1027    194    273    385
2  강 북 구  1265       691    254      1    319
3  강 서 구  1617       909    190    264    254
4  관 악 구  3985      2001    619    694    671

In [19]:
pop_Seoul = pd.read_excel("data/01. population_in_Seoul.xlsx")
pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2020.1/4,합계,4354006,10013781,4874995,5138786,9733655,4742217,4991438,280126,132778,147348,2.24,1518239
3,2020.1/4,종로구,74151,161984,78271,83713,151217,73704,77513,10767,4567,6200,2.04,28073
4,2020.1/4,중구,63045,136469,66769,69700,126175,61839,64336,10294,4930,5364,2,23794

In [21]:
# population_in_Seoul.xlsx의 데이터 중, 위에서 3번째 줄부터 값들을 출력하고,
# B,D,G,J,N열만 출력한다.
# parse_cols는 usecols로 변경됨.
pop_Seoul = pd.read_excel("data/01. population_in_Seoul.xlsx",
                         header = 2,
                         usecols = 'B,D,G,J,N',
                         encoding = 'cp949')
pop_Seoul.head()

TypeError: read_excel() got an unexpected keyword argument 'encoding'

In [ ]:
# 위에서 1번 정제과정을 거친 population_in_Seoul.xlsx의 가로줄 이름을 바꿈
# 실제 데이터에 적용

pop_Seoul.rename(columns = {pop_Seoul.columns[0] : "구별",
                           pop_Seoul.columns[1] : "인구수",
                           pop_Seoul.columns[2] : "한국인",
                           pop_Seoul.columns[3] : "외국인",
                           pop_Seoul.columns[4] : "고령자"}, inplace = True)
pop_Seoul.head()

# 1-3 pandas 기초 익히기 (강의 1장 5)

## Pandas(Python Data Analysis Library)
    ● 파이썬을 통해 데이터 분석을 할 때, pandas를 빼놓고 이야기할 수 없다.
    ● pandas는 dataframe을 주로 다루기 위한 라이브러리.
    ● pandas dataframe은 테이블 형식의 데이터를 다룰 때 사용.
    
## Numpy
    ● 넘파이는 수치 데이터를 다루는 파이썬 패키지
    ● 파이썬을 통해 데이터 분석을 할 때 기초 라이브러리로 사용

In [ ]:
import pandas as pd
import numpy as np

1) 시리즈(Series)
* 시리즈 클래스는 1차원 배열의 값(value)에 각 값에 대응되는 인덱스를 부여할 수 있다.

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8])
s

In [ ]:
# 강의 자체 예제 Series
# 원하는 인덱스를 따로 부여 가능
sr = pd.Series([17000, 18000, 1000, 5000], index = ['치킨','피자','콜라','맥주'])
sr

2) 시계열 자료 다루기
- 시계열 자료는 인덱스가 날짜 혹은 시간인 데이터를 말한다.
- pandas에서 시계열 자료를 생성하려면 인덱스를 DatetimeIndex 자료형으로 만들어야 한다.
- DatetimeIndex()
    - 특정한 순간에 기록된 타임스탬프 형식의 시계열 자료를 다루기 위한 인덱스
    - 타임 스탬프 인덱스의 라벨값이 반드시 일정한 간격일 필요는 없다.
- DatetimeIndex()의 보조 함수
    - pd.td_datetime()
    - pd.date_range()

In [ ]:
# 기본날짜인 '20200701'을 기준으로 기간(period)은 6일로 설정하면
# 0701부터 0706까지 연속된 날짜를 출력할 수 있다.

dates = pd.date_range('20200701', periods = 6)
dates

In [ ]:
np.random.seed(0) # 기준점 0 : 데이터가 변하지 않고 같은 데이터가 나온다.
s = pd.Series(np.random.randn(6) , index=dates) 
s

In [ ]:
# 위에서처럼 seed 값이 없기 때문에 실행할 때마다 값이 바뀐다.

# df라는 프레임 안에 세로줄은 위에서 dates가 index로 들어가고,
# 가로줄은 컬럼명으로 'A,B,C,D'가 들어간다.
# 그 안에 내용은 6*4(총 24개)개의 무작위의 숫자가 들어간다.

# rand(0~1사이 값) VS randn(음수, 0, 양수 등의 무작위한 값)

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])
df

In [ ]:
df = pd.DataFrame(np.random.rand(6,4), index=dates, columns=['A','B','C','D'])
df

In [ ]:
df.head()

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

In [ ]:
# info() : df의 정보 출력

df.info()

In [ ]:
# df의 개수, 평균, 표준편차, min, max, 25/50/75%(1/4지점) 등을 알 수 있다.

df.describe()

In [ ]:
# df의 값들을 차순별로 정이, by 뒤에 오는 column을 기준으로 정렬한다.
# ascending -> True : 오름차순하라,  False : 내림차순
# B열을 정렬하라.

df.sort_values(by='B', ascending=False)

In [ ]:
# C 컬럼을 오름차순으로 정렬

df.sort_values(by='C', ascending=True)

In [ ]:
# 인덱스 기준으로 정렬

df

In [ ]:
# df의 A 컬럼을 보고싶을 때

df['A']

In [ ]:
# [0:3] => 0, 1, 2

df[0:3]

In [ ]:
# df의 지정된 행까지만 보고싶을 때

df['20200703':'20200705']

In [ ]:
# loc[] : dates 변수를 이용해서 특정 날짜의 데이터만 보고 싶을 때
#       : location 옵션, 슬라이싱할 때 사용해서 위치 값을 지정

df.loc[dates[0]]

In [ ]:
# 콜론(:) - 전체

df.loc[:,['A', 'B']]

In [ ]:
df.loc['20200703':'20200705',['A','B']]

In [ ]:
# 해당 행에 대한 컬럼

df.loc['20200703',['A','B']]

In [ ]:
# 0번째에서 A 값
df.loc[dates[0],'A']

In [ ]:
# iloc[] : loc와 달리 행과 열의 번호를 이용해서 데이터에 바로 접근
#        : 행이나 열의 범위를 지정, 콜론(:)을 사용하면 전체를 의미

df.iloc[3]

In [ ]:
# 앞부분 : 행, 뒷부분 : 열
df.iloc[3:5,0:2]

In [ ]:
# 콜론을 사용하지 않고 콤마(,)를 사용했을 경우에는 원하는 행,열을 특정해서 추출 가능

df.iloc[[1,2,4],[0,2]]

In [ ]:
df.iloc[1:3, : ]

In [ ]:
df.iloc[:, 1:3]

In [ ]:
df

In [ ]:
# 밑에 예제부터 음수,양수 판별을 보기 위해 작성

df = pd.DataFrame(np.random.randn(6,4), index = dates, columns=['A','B','C','D'])
df

In [ ]:
# df['A'] = df.A와 같은 말이고, df,A > 0이라는 것은 A열에 있는 값들 중
# 0보다 큰 값들이 있는 행들을 출력하라는 의미이다.
# 이 때, 다른 열들의 값은 0보다 크던 작던 상관없이 'A'열을 기준으로 한다.

df[df.A > 0]

In [ ]:
# df의 값들 중에서 0보다 작은 값들은 조건을 충족하지 못하였으므로 
# NaN처리가 됨

df[df > 0]

In [ ]:
# 원본 데이터는 df이지만 데이터가 있는 주소와
# 데이터의 내용을 df2에 복사하는 것

df2 = df.copy()
df2

In [ ]:
# df2랑 같음
df

In [ ]:
# 기존에 있던 프레임에 없었던 행을 입력하고
# 새로운 컬럼 추가

df2['E'] = ['one','one','two','three','four','three']
df2

In [ ]:
# isin() : E열에 있는 값들 중에 'two'와 'four'이 있는지 물어보는 함수
# boolean값으로 결과를 출력한다. --> True, False

df2['E'].isin(['two','four'])

In [ ]:
df2[df2['E'].isin(['two','four'])]

In [ ]:
# apply() : 특정 함수를 적용시키는 함수 
# cumsum : numpy에 있는 함수 중 누적합을 구하는 함수

df.apply(np.cumsum)

In [ ]:
# apply()함수를 통해 일회성 함수인 lambda함수도 적용시킬 수 있다.
# 각 column들의 최대값과 최소값의 차이를 구한다.

df.apply(lambda x : x.max() - x.min())

## 1-4 pandas 이용해서 CCTV와 인구 현황 데이터 파악하기
1) CCTV 데이터 파악하기

In [ ]:
CCTV_Seoul.head()

In [ ]:
CCTV_Seoul = pd.read_csv('data/01. CCTV_in_Seoul.csv', encoding = 'euc_kr')

In [ ]:
# 소계를 기준으로 오름차순 정렬하고 위에서부터 5개 보여줌

CCTV_Seoul.sort_values(by = '소계', ascending = True).head()

In [ ]:
CCTV_Seoul.sort_values(by = '소계', ascending = False).head()

In [ ]:
# CCTV의 최근 증가율을 구하기 위해서 18년 + 17년 + 16년을 더해서 15년 이전으로 나누고 100을 
#  곱해준다.
# '최근증가율'을 기준으로 내림차순 정렬하여 5번째 줄까지 출력.

CCTV_Seoul['최근 증가율'] = (CCTV_Seoul['2018년'] + CCTV_Seoul['2017년'] + CCTV_Seoul['2016년']) / \
                               CCTV_Seoul['2015년 이전'] * 100
CCTV_Seoul.sort_values(by = '최근 증가율', ascending = False).head()

2) 서울시 인구 데이터 파악하기

In [ ]:
# 데이터에 ,(콤마)가 없기 때문에 정상 데이터
# population_in_Seoul.xlsx

pop_Seoul.head()

In [ ]:
# 0번행에 있는 합계를 drop()함수로 삭제
# 변경한 내용을 실데이터에 적용

pop_Seoul.drop([0], inplace = True)
pop_Seoul.head(5)

In [ ]:
# '구별' 컬럼에서 1번이라도 나온 값을 출력
#  (중복된 것도 1번만 나옴)

pop_Seoul['구별'].unique()

In [ ]:
# NaN값이 있는 26번째 행을 삭제하고 실데이터에 적용
# 이미 전처리 과정을 통해 26번째가 없기 때문에 무의미한 작업이지만 책에 있기 때문에 일단 실행
# 26번째는 이미 전처리되었기 때문에 에러메시지는 발생

pop_Seoul.drop([26], inplace = True) 
pop_Seoul.head()

In [ ]:
# 외국인/고령자 비율을 구하기 위해서 인구수로 나누어주고 100을 곱한다.

pop_Seoul['외국인비율'] = pop_Seoul['외국인'] / pop_Seoul['인구수'] * 100
pop_Seoul['고령자비율'] = pop_Seoul['고령자'] / pop_Seoul['인구수'] * 100
pop_Seoul.head()

In [ ]:
# '인구수'를 기준으로 오름차순 정렬 후 출력

pop_Seoul.sort_values(by = '인구수', ascending = False).head()

In [ ]:
# '외국인'를 기준으로 오름차순 정렬 후 출력

pop_Seoul.sort_values(by = '외국인', ascending = False).head()

In [ ]:
# 강의 하다가 중간에 끊김

## 1-5 pandas 고급기능 - 두 DataFrame 병합하기
- DataFrame
    - 테이블 형식의 데이터를 다룰 때 사용
    - 데이터프레임의 3요소 : 컬럼(열), 데이터(행), 인덱스

In [ ]:
# dataFrame을 임의로 3개로 만든다.
# column = A, B, C, D
# index = 1,2,3,4,5,6,7,8,9,10,11

df1 = pd.DataFrame({'A':['A0', 'A1', 'A2', 'A3'],
                    'B':['B0', 'B1', 'B2', 'B3'],
                    'C':['C0', 'C1', 'C2', 'C3'],
                    'D':['D0', 'D1', 'D2', 'D3']},
                   index = [0,1,2,3])

df2 = pd.DataFrame({'A':['A4', 'A5', 'A6', 'A7'],
                    'B':['B4', 'B5', 'B6', 'B7'],
                    'C':['C4', 'C5', 'C6', 'C7'],
                    'D':['D4', 'D5', 'D6', 'D7']},
                   index = [4,5,6,7])

df3 = pd.DataFrame({'A':['A8', 'A9', 'A10', 'A11'],
                    'B':['B8', 'B9', 'B10', 'B11'],
                    'C':['C8', 'C9', 'C10', 'C11'],
                    'D':['D8', 'D9', 'D10', 'D11']},
                   index = [8,9,10,11])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
# concat() : pandas에서 dataFrame을 합쳐주는 함수(열방향으로 합쳐준다.)

result = pd.concat([df1, df2, df3])
result

In [ ]:
# keys로 옵션을 넣으면 1중 index였던 것이 2중 index로 된다.

result = pd.concat([df1, df2, df3], keys = ['x', 'y', 'z'])
result

In [ ]:
# index를 출력해보면 2개의 index가 출력된다.
# x,y,z와 1~11까지의 숫자 index

result.index

In [ ]:
# 1번째에 있는 index를 출력

result.index.get_level_values(0)

In [ ]:
result.index.get_level_values(1)

In [ ]:
# 임의로 만든 df4를 df1과 합친다.
# axis = 1을 주면 index가 없거나 값이 없어도 NaN으로 합쳐준다.

df4 = pd.DataFrame({'B' : ['B2', 'B3', 'B6', 'B7'],
                    'D' : ['D2', 'D3', 'D6', 'D7'],
                    'F' : ['F2', 'F3', 'F6', 'F7']},
                   index = [2,3,6,7])

result = pd.concat([df1, df4], axis = 1)

In [ ]:
df1

In [ ]:
df4

In [ ]:
result

In [ ]:
# axis = 1과는 달리 join = 'inner'로 하면 공통되지 않는 index와 값들을 버리고
# 공통된 부분만 출력된다.

result = pd.concat([df1, df4], axis = 1, join = 'inner')
result

In [ ]:
# join_axes = [df1.index]로 하면 df1의 index를 기준으로 값들을 출력한다.
# 이제는 join_axes를 사용하지 않고 대신에 reindex(df1.index) 사용

# result = pd.concat([df1, df4], axis = 1, join_axes = [df1.index])
result = pd.concat([df1, df4], axis = 1).reindex(df1.index)
result

In [ ]:
result = pd.concat([df1, df4], axis = 1).reindex(df4.index)
result

In [ ]:
# 만약에 reindex()를 사용해도 에러가 발생하면 pandas를 업그레이드 해야 한다.

! pip install pandas --upgrade

# 이렇게 업그레이드를 한 후 위의 셀을 다시 실행해보시기 바랍니다.

In [ ]:
# ignore_index = True를 입력하면 두 데이터의 인덱스를 무시하고
# 새로운 index를 매겨서 출력한다. (열 기준으로 합침)

result = pd.concat([df1, df4], ignore_index = True)
result

In [ ]:
# 교재 51~53pg in[84]까지는 실습 안함.
# 결과가 원하는 것과 달라서 나중에 merge나오면 실습